[submodule "submodules/PFIAS"]
	path = submodules/PFIAS
	url = git@github.com:IEA-Paris/PFIAS.git
	branch = main
[submodule "submodules/SANDBOX"]
	path = submodules/SANDBOX
	url = git@github.com:IEA-Paris/SANDBBOX.git
[submodule "submodules/PPIAS"]
	path = submodules/PPIAS
	url = git@github.com:IEA-Paris/PPIAS.git
