/**
 * Font display optimization to prevent layout shifts
 * Using font-display: swap for Material Design Icons
 */

@font-face {
  font-family: 'Material Design Icons';
  font-display: swap;
  src: url('~@mdi/font/fonts/materialdesignicons-webfont.woff2') format('woff2'),
    url('~@mdi/font/fonts/materialdesignicons-webfont.woff') format('woff');
}

/* Optimize other font loading */
* {
  font-display: swap;
}
